<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2>Signal R Test</h2>
      <p></p>
      <h3>LED</h3>
      <p>Led State: On/Off</p>
      <button class="btn btn-primary">Toggle Led</button>
      <hr />
      <h3>LCD</h3>
      <p></p>
      <input />
      <button class="btn btn-primary">Send Message</button>
      <hr />
      <h3>Send Message</h3>
      <p></p>
      <input />
      <button class="btn btn-primary">Send Console Message</button>
    </div>
  </div>
</div>

